.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 55px;
    background-color: #fff8f0;
    box-shadow: 0px 8px 13px -2px black ;
}

.navbar a{
    font-family: var(--font-family);
}